{{ $image_padding := true }}
{{- if isset .Params "featured_image" }}
  {{- if isset .Params.featured_image "padding" }}
    {{- $image_padding = .Params.featured_image.padding }}
  {{- end }}
{{- end }}
{{- if isset .Params "featured_video" }}
  {{- if isset .Params.featured_video "padding" }}
    {{- $image_padding = .Params.featured_video.padding }}
  {{- end }}
{{- end }}
<section id="{{ .File.ContentBaseName }}" class="u-grid u-mb-3 u-items-center u-mb-4 sm:u-mb-6 md:u-mb-10 u-pt-2 {{ with .Params.class }}{{ . }}{{ end }}" {{- with .Params.model_3d }}data-controller="3d-model-viewer" data-model-url="{{ .url }}.obj" data-material-url="{{ .url }}.mtl"{{ end }}>
  <h2 class="u-text-xl u-text-display u-mt-0 u-ml-1.5 u-mb-0 u-grid-colspan-12 u-relative {{ if ne .Params.type "stacked" }}md:u-hidden{{ end }}" style="z-index: 1;">{{ .Title }}</h2>
  <div class="u-relative u-ml-1.5 u-mb-1 md:u-mb-1.5 lg:u-mb-0 u-order-1 u-grid-colspan-12
    {{ if ne .Params.type "stacked" -}}
      md:u-grid-colspan-5 md:u-ml-0
      {{- if .Params.inverted }} md:u-order-1 md:u-ml-3{{ else }} md:u-mr-3{{ end -}}
    {{- end }} {{ if not .Params.inverted }}md:u-order-0{{ end }}">
    {{- with .Params.decor }}
      {{- partial "decor/triangle" (dict "variant" .variant "color" .color) }}
    {{- end }}
    <div class="u-relative" style="z-index: 1;">
      {{ if ne .Params.type "stacked" }}
        <h2 class="u-text-xl u-text-display u-mt-0 u-hidden md:u-block">{{ .Title }}</h2>
      {{ end }}
      {{- with .Params.model_3d }}
        <button class="c-button u-absolute v--white sm:u-hidden v--no-transform u-mb-1" data-action="3d-model-viewer#load" data-3d-model-viewer-target="loadButton">
          <span class="c-button__content">{{ i18n "3d_model" }} ({{ .size }})</span>
        </button>
      {{- end }}
      {{ .Content }}
    </div>
  </div>
  <div class="u-text-center u-grid-colspan-12 u-mb-1 {{ if ne .Params.type "stacked" }}md:u-grid-colspan-7 md:u-mb-0{{ end }} c-3d-model-viewer u-shadow-solid-sm u-flex u-relative {{ if .Params.badge }}u-mt-4 md:u-mt-0{{ end }}{{ with .Params.featured_video.max_width}}u-maxw-{{ . }}{{ end }}" style="z-index: 1;">
    {{- if .Params.badge }}
      {{- $image := resources.Get (i18n "badge_src") }}
      {{- with $image }}
        <img src="{{ $image.RelPermalink }}" alt="{{ i18n "badge_alt" }}" class="c-badge" width="160" height="180">
      {{- end }}
    {{- end }}
    <div class="u-w-full u-bg-{{ .Params.color }} {{ if $image_padding }}u-p-2{{ end }}">
      {{- with .Params.featured_image }}
        {{- $sizes := dict
            "default" "calc(100vw - 3rem - 10px)"
            "xs" "calc(100vw - 4rem - 10px)"
            "md" "calc((100vw - 4rem) / 12 * 7 - 10px)"
            "lg" "649px"
        }}
        {{- partial "image" (dict
          "src" .src
          "alt" .alt
          "width" .width
          "height" .height
          "sizes" $sizes
          "class" "u-w-full u-block"
          "Page" $)
        }}
      {{- end }}
      {{- with .Params.featured_video }}
        {{- $video := $.Resources.GetMatch .src }}
        {{- $poster := $.Resources.GetMatch .poster | default false -}}
        <video
          {{ with .autoplay }}
            autoplay
            muted
          {{ else }}
            controls
          {{ end }}
          {{ with .loop }}
            loop
          {{ end }}
          playsinline
          {{ with .width }}width="{{ . }}"{{ end }}
          {{ with .height }}height="{{ . }}"{{ end }}
          {{ with $poster}}poster="{{ .RelPermalink }}"{{ end }}
          class="u-w-full u-block"
          data-controller="lazy-video"
        >
          <source src="" data-src="{{ $video.RelPermalink }}">
        </video>
      {{- end }}
      {{- with .Params.model_3d }}
        {{ $loader := resources.Get "icons/loader.svg" }}
        <img src="{{ $loader.RelPermalink }}" alt="Ładowanie modelu 3D" class="c-3d-model-viewer__loader" data-3d-model-viewer-target="loader">
        <span class="sm:u-hidden" data-3d-model-viewer-target="mobileTest"></span>
        <div class="c-3d-model-viewer__container u-bg-{{ $.Params.color }}" data-3d-model-viewer-target="container">
          <span class="c-3d-model-viewer__icon u-text-center">
            {{ $3d_view := resources.Get "icons/rotate.svg" }}
            <img src="{{ $3d_view.RelPermalink }}" alt="" width="28" height="28" />
            <p class="u-m-0">3D</p>
          </span>
        </div>

      {{- end }}
    </div>
  </div>
  
</section>
